.card_list_question {
 @include commonBorder(border-bottom);
 @include text-preset-3;

 grid-area: 1 / 1 / 2 / 4;
 padding: 16px;

 & span {
  @include text-preset-6-regular;
  
  margin-left: 3px;
 }
}