.cards_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  & > li {
    flex: 0 0 39.7rem;
  }
}

@include onTablet {
  .cards_list {
    gap: 2.4rem;

    & > li {
      flex: 0 0 34.0rem;
    }
  }
}

@include onMobile {
  .cards_list {
    gap: 2.0rem;

    & > li {
      flex: 0 0 34.0rem;
    }
  }
}
