.logo {
  height: 40px;
  width: 160px;
  min-width: 160px;
  background-image: url("src/assets/icons/logo-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

@include onMobile {
  .logo {
    height: 40px;
    width: 40px;
    min-width: 40px;
    background-image: url("src/assets/icons/logo-min.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
