.study_section {
  @include commonBorder(border);
  @include box-shadow;

  border-radius: $radius-16;
  padding-inline: 1.6rem;

  & > * {
    padding-block: 1.2rem;
  }
}

.card_controls {
  display: flex;
  justify-content: space-between;
  position: relative;

  & > div:nth-child(1) {
    display: flex;
    row-gap: 1rem;
    column-gap: 1.6rem;
  }

  & * {
    @include text-preset-4-medium;
  }
}

.categories_list {
  @include commonBorder(border);

  border-radius: $radius-8;
  background-color: white;
  position: absolute;
  top: 110%;


  z-index: 1;
  width: max-content;

  & .category_item {
    @include checkBox;

    padding: 1rem 1.6rem;

    &:not(:last-child) {
      @include commonBorder(border-bottom);
    }

    & .cards_amount {
      color: $neutral-600;
    }

    & input[type="checkbox"] {
      transform: scale(1.2);

      &:checked {
        box-shadow: none;
      }
    }
  }

  & label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.hide_checkbox {
  @include checkBox;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  & > p {
    line-height: 0.35rem;
  }
}

.card_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_studying_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.off {
  display: none;
}

/// MOBILE
@include onMobile {
  .card_controls {
    align-items: start;
    & > div:nth-child(1) {
      flex-wrap: wrap;
    }
  }

  .card_pagination {
    & > button {
      width: 1rem;
      color: transparent;
      position: relative;
      overflow: hidden;
    }

    & > button::after,
    & > button::before {
      position: absolute;
      inset: 0;
      margin: auto;
      color: $neutral-900;
      transform: scale(2);
    }
  }

  .card_studying_buttons {
    flex-direction: column;
    gap: 1rem;

    & > button {
      width: 100%;
      justify-content: center;
    }
  }
}
