.card_item-list {
 @include commonBorder(border);

 width: 400px;
 height: 240px;
 border-radius: $radius-16;
 display: grid;
 grid-template-columns: auto 1fr auto;
 grid-template-rows: auto 1fr auto;
}