@use "../abstracts/variables" as *;

// media
@mixin onTablet {
  @media (max-width: 1239px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin commonBorder($prop) {
  #{$prop}: 0.1rem solid $neutral-900;
}

// fonts
@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin font-spaces-120 {
  line-height: 120%;
  letter-spacing: 0;
}

@mixin font-spaces-140 {
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-preset-1 {
  @include main-font();
  @include font-spaces-120();
  font-size: 4rem;
  font-weight: 700;
}

@mixin text-preset-1-tablet {
  @include main-font();
  @include font-spaces-120();
  font-size: 3.2rem;
  font-weight: 700;
}

@mixin text-preset-1-mobile {
  @include main-font();
  @include font-spaces-120();
  font-size: 2.4rem;
  font-weight: 700;
}

@mixin text-preset-2 {
  @include main-font();
  @include font-spaces-120();
  font-size: 2.4rem;
  font-weight: 600;
}

@mixin text-preset-3 {
  @include main-font();
  @include font-spaces-120();
  font-size: 2rem;
  font-weight: 600;
}

@mixin text-preset-4-semibold {
  @include main-font();
  @include font-spaces-140();
  font-size: 1.6rem;
  font-weight: 600;
}

@mixin text-preset-4-medium {
  @include main-font();
  @include font-spaces-140();
  font-size: 1.6rem;
  font-weight: 500;
}

@mixin text-preset-4-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin text-preset-5 {
  @include main-font();
  @include font-spaces-140();
  font-size: 1.4rem;
  font-weight: 500;
}

@mixin text-preset-5-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 1.4rem;
  font-weight: 400;
}

@mixin text-preset-6-regular {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
}

// OTHERS
