@use "../abstracts/variables" as *;

// media
@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 1239px) {
    @content;
  }
}

@mixin commonBorder($prop) {
  #{$prop}: 1px solid $neutral-900;
}

// fonts
@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin font-spaces-120 {
  line-height: 120%;
  letter-spacing: 0px;
}

@mixin font-spaces-140 {
  line-height: 140%;
  letter-spacing: 0px;
}

@mixin text-preset-1 {
  @include main-font();
  @include font-spaces-120();
  font-size: 40px;
  font-weight: 700;
}

@mixin text-preset-1-tablet {
  @include main-font();
  @include font-spaces-120();
  font-size: 32px;
  font-weight: 700;
}

@mixin text-preset-1-mobile {
  @include main-font();
  @include font-spaces-120();
  font-size: 24px;
  font-weight: 700;
}

@mixin text-preset-2 {
  @include main-font();
  @include font-spaces-120();
  font-size: 24px;
  font-weight: 600;
}

@mixin text-preset-3 {
  @include main-font();
  @include font-spaces-120();
  font-size: 20px;
  font-weight: 600;
}

@mixin text-preset-4-semibold {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 600;
}

@mixin text-preset-4-medium {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 500;
}

@mixin text-preset-4-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 400;
}

@mixin text-preset-5 {
  @include main-font();
  @include font-spaces-140();
  font-size: 14px;
  font-weight: 500;
}

@mixin text-preset-5-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 14px;
  font-weight: 400;
}

@mixin text-preset-6-regular {
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
}

// OTHERS

@mixin expandedText(
  $isAnswer,
  $mainContainerSelector,
  $containerTextSelector,
  $textSelector,
  $iconSelector,
  $padding,
  $maxLines,
  $expandedAttribute,
  $multilineAttribute
) {
  #{$mainContainerSelector} {
    position: relative;

    & * {
     box-sizing: content-box;
    }

    & #{$containerTextSelector} {
      display: flex;
      gap: 5px;
      padding: #{$padding};
      border-radius: 16px;
      box-sizing: border-box;
      width: 99%;

      &:has(#{$textSelector}[data-#{$expandedAttribute}="true"]) {
        position: absolute;
        z-index: 1;
        background-color: white;
      }

      & > #{$textSelector}[data-#{$expandedAttribute}="true"] {
        display: inline;

        &::after {
         border: 1px solid rgba($neutral-900, 0.8) ;
         border-radius: 16px;
         content: '';
         width: 100%;
         height: 100%;
         background-color: white;
         position: absolute;
         left: 0.2%;
         top: 1.3%;
         z-index: -1;

         @if $isAnswer {
          padding-bottom: 17px;
          top: -7px;
         }
        }
      }
    }

    & #{$textSelector} {
      display: -webkit-box;
      -webkit-line-clamp: #{$maxLines};
      -webkit-box-orient: vertical;
      line-clamp: #{$maxLines};
      overflow: hidden;

      &[data-#{$multilineAttribute}="false"] + #{$iconSelector} {
        display: none;
      }

      &[data-#{$multilineAttribute}="true"] + #{$iconSelector} {
        width: 20px;
        height: 20px;
      }
    }
  }
}
