// media
@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

// fonts
@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin font-spaces-120 {
  line-height: 120%;
  letter-spacing: 0px;
}

@mixin font-spaces-140 {
  line-height: 140%;
  letter-spacing: 0px;
}

@mixin text-preset-1 {
  @include main-font();
  @include font-spaces-120();
  font-size: 40px;
  font-weight: 700;
}

@mixin text-preset-1-tablet {
  @include main-font();
  @include font-spaces-120();
  font-size: 32px;
  font-weight: 700;
}

@mixin text-preset-1-mobile {
  @include main-font();
  @include font-spaces-120();
  font-size: 24px;
  font-weight: 700;
}

@mixin text-preset-2 {
  @include main-font();
  @include font-spaces-120();
  font-size: 24px;
  font-weight: 600;
}

@mixin text-preset-3 {
  @include main-font();
  @include font-spaces-120();
  font-size: 20px;
  font-weight: 600;
}

@mixin text-preset-4-semibold {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 600;
}

@mixin text-preset-4-medium {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 500;
}

@mixin text-preset-4-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 16px;
  font-weight: 400;
}

@mixin text-preset-5 {
  @include main-font();
  @include font-spaces-140();
  font-size: 14px;
  font-weight: 500;
}

@mixin text-preset-5-regular {
  @include main-font();
  @include font-spaces-140();
  font-size: 14px;
  font-weight: 400;
}

@mixin text-preset-6-regular {
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
}
