$redd: red;
$rrr: green;

:root {
font-size: 10px;

// colors
--neutral-900: #2e1401;
--neutral-600: #6d5b4d;
--neutral-100: #f7f3f0;
--neutral-0: #ffffff;
--yellow-500: #f8cb46;
--blue-400: #92adeb;
--blue-600: #5072c7;
--teal-400: #47d9c9;
--pink-400: #fc8ae5;
--pink-500: #f073a3;
--pink-700: #e11966;
}


// colors
$neutral-900: var(--neutral-900);
$neutral-600: var(--neutral-600);
$neutral-100: var(--neutral-100);
$neutral-0: var(--neutral-0);
$yellow-500: var(--yellow-500);
$blue-400: var(--blue-400);
$blue-600: var(--blue-600);
$teal-400: var(--teal-400);
$pink-400: var(--pink-400);
$pink-500: var(--pink-500);
$pink-700: var(--pink-700);

// radius
$radius-0: 0;
$radius-4: 0.4rem;
$radius-6: 0.6rem;
$radius-8: 0.8rem;
$radius-10:.1rem;
$radius-12: 1.2rem;
$radius-16: 1.6rem;
$radius-20: 2.0rem;
$radius-24: 2.4rem;
$radius-full: 99.9rem;
