.card_item {
  @include commonBorder(border);
  @include box-shadow;

  border-radius: $radius-16;
  display: grid;

  
  &[data-version="list"] {
    & p {
      text-align: left;
    }

    height: max-content;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: max-content 1fr max-content;

    & > * {
      align-content: center;
    }

    & > .question,
    & > .answer {
      padding: 1.6rem;
    }

    & .question {
      @include commonBorder(border-bottom);
      @include text-preset-4-semibold;

      grid-area: 1 / 1 / 2 / 4;
    }

    & .answer {
      @include commonBorder(border-bottom);
      @include text-preset-5;

      grid-area: 2 / 1 / 3 / 4;
      min-height: 14rem;

      &::before {
        content: "Answer:";
        display: block;
        opacity: 0.6;
        margin-bottom: 0.8rem;
      }
    }

    & .category {
      @include commonBorder(border);
      @include text-preset-6-regular;

      grid-area: 3 / 1 / 4 / 2;
      margin: 1rem 1.4rem 1rem 1.6rem;
      padding: 0.6rem 1.2rem;
      border-radius: $radius-full;
    }

    & div[data-element='progress-bar'] {
      @include commonBorder(border-right);
      @include commonBorder(border-left);
      @include text-preset-6-regular;

      grid-area: 3 / 2 / 4 / 3;
      padding-inline: 0.8rem;
    }

    & .service_button {
      width: 3rem;
      height: 3rem;
      grid-area: 3 / 3 / 4 / 4;
      padding-block: 1.6rem;
      align-self: center;
      background-image: url("src/assets/icons/dots.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &[data-version="study"] {
    height: 36rem;
    background-color: $pink-400;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    padding: 2.4rem;
    position: relative;

    & p {
      text-align: center;
    }

    &::after {
      content: '';
      width: 3rem;
      height: 3rem;
      display: block;
      position: absolute;
      top: 4rem;
      right: 3rem;
      background-image: url("src/assets/icons/star-blue.svg");
      background-position: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    &::before {
      content: '';
      width: 3rem;
      height: 3rem;
      display: block;
      position: absolute;
      bottom: 4rem;
      left: 3rem;
      background-image: url("src/assets/icons/star-yellow.svg");
      background-position: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:has(.answer) {
      background-color: $blue-400;

      &::after {
        background-image: url("src/assets/icons/star-pink.svg");
      }
    }

    & > * {
      align-content: center;
      justify-self: center;
    }

    & .question {
      @include text-preset-1;
      grid-area: 2 / 1 / -1 / -1;

      &::after {
        @include text-preset-4-medium;

        content: "Click to reveal answer";
        display: block;
        justify-self: center;
        opacity: 0.6;
      };
    }

    & .answer {
      @include text-preset-2;
      grid-area: 2 / 1 / -1 / -1;

      &::before {
        @include text-preset-4-medium;

        content: "Answer:";
        display: block;
        opacity: 0.6;
        justify-self: center;
        margin-bottom: 1.6rem;
      };
    }

    & .category {
      @include commonBorder(border);
      @include text-preset-6-regular;

      grid-area: 1 / 1 / 1 / -1;
      padding: 0.6rem 1.2rem;
      border-radius: $radius-full;
      background-color: $neutral-0;
    }

    & .progress {
      @include text-preset-6-regular;

      grid-area: 3 / 1 / 4 / -1;
    }
  }
}
