.card_item {
  &[data-version="list"] {
    @include commonBorder(border);

    height: max-content;
    border-radius: $radius-16;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: max-content 1fr max-content;

    & > * {
      align-content: center;
    }

    & > .question, & > .answer {
      padding: 1.6rem;
    }
 
    & .question {
      @include commonBorder(border-bottom);
      @include text-preset-4-semibold;

      grid-area: 1 / 1 / 2 / 4;
    }

    & .answer {
      @include commonBorder(border-bottom);
      @include text-preset-5;

      grid-area: 2 / 1 / 3 / 4;
      min-height: 14rem;

      &::before {
        content: 'Answer:';
        display: block;
        opacity: 0.6;
        margin-bottom: 0.8rem;
      }
    }

    & .category {
      @include commonBorder(border);
      @include text-preset-6-regular;

      grid-area: 3 / 1 / 4 / 2;
      margin: 1rem 1.4rem 1rem 1.6rem;
      padding: 0.6rem 1.2rem;
      border-radius: $radius-full;
    }

    & .progress {
      @include commonBorder(border-right);
      @include commonBorder(border-left);
      @include text-preset-6-regular;

      grid-area: 3 / 2 / 4 / 3;
      padding-inline: 0.8rem;
    }

    & .service_button {
      width: 3rem;
      height: 3rem;
      grid-area: 3 / 3 / 4 / 4;
      padding-block: 1.6rem;
      align-self: center;
      background-image: url("src/assets/icons/dots.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
