.card-service-button-container {
 height: 100%;
 padding-inline: 8px 16px;
 display: flex;
 align-items: center;
}

.card-service-button {
 width: 24px;
 height: 24px;
 grid-area: 3 / 3 / 4 / 4;
 background-image: url('src/assets/icons/dots.svg');
 background-repeat: no-repeat;
 background-position: center;
}