.logo {
  height: 5.2rem;
  width: 19rem;
  min-width: 16rem;
  background-image: url("src/assets/icons/logo-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

@include onMobile {
  .logo {
    height: 5.2rem;
    width: 5.2rem;
    min-width: 4rem;
    background-image: url("src/assets/icons/logo-min.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
