.card_list_category-container {
 @include commonBorder(border-right);

 grid-area: 3 / 1 / 4 / 2;
 padding: 14px 10px 14px 16px;
 box-sizing: border-box;
}

.card_list_category {
 @include commonBorder(border);
 padding: 1px 10px;
 box-sizing: border-box;
 border-radius: $radius-full;
}