.statistics_section {
  @include commonBorder(border);
  @include box-shadow;

  padding: 1.6rem;
  border-radius: $radius-16;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;

  .title {
    @include text-preset-2
  }

  .statistics_bar_item {
    @include commonBorder(border);
    @include box-shadow;

    height: 12rem;
    border-radius: $radius-12;
    flex-basis: 100%;
    display: flex;
  }
}