.tab {
 width: max-content;
 height: 100%;
 padding: 5px;
 border: 1px solid $neutral-900;
 border-radius: $radius-full;
 display: flex;
 align-items: center;
 gap: 10px;
}

@include onMobile {
 .tab {
  // padding: 3px;
  // height: 80%;
  gap: 3px;
 }
}
