.tabButton {
  @include text-preset-4-semibold;

  min-width: max-content;
  padding: 9px 16px;
  border-radius: inherit;
  border: none;
  outline-offset: 4px;

  &:hover, &:focus-visible {
    box-shadow: 0 0 0 1px $neutral-900;
  }
}

.highlighted {
  box-shadow: 0 0 0 1px $neutral-900;
  background-color: $yellow-500;
}
