.tabButton {
  @include text-preset-4-semibold;

  min-width: max-content;
  padding: 0.9rem 1.6rem;
  border-radius: inherit;
  border: none;
  outline-offset: 0.4rem;

  &:hover, &:focus-visible {
    box-shadow: 0 0 0 0.1rem $neutral-900;
  }
}

.highlighted {
  box-shadow: 0 0 0 0.1rem $neutral-900;
  background-color: $yellow-500;
}
