.card_list_text-content {
  display: flex;
  justify-content: space-between;
}

.expand-icon {
  width: 30px;
  height: 30px;
  background-image: url("src/assets/icons/angle-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: —Åenter;
}
