.header {
 height: 52px;
 padding-block: 20px 24px;
 padding-inline: 32px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-sizing: content-box;
}

@include onMobile {
 .header {
  padding-inline: 16px;
 }
}