.stat_bar_section {
  @include commonBorder(border);
  @include box-shadow;

  padding: 2.4rem;
  border-radius: $radius-16;
}

.bar_title {
  @include text-preset-2;

  margin-bottom: 1.6rem;
}

.stat_item_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.stat_item {
  @include commonBorder(border);
  @include box-shadow;

  height: 12rem;
  border-radius: $radius-12;
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: repeat(1fr, 2);
  overflow: hidden;
}

.title, .value {
  align-self: center;
  padding-inline: 2rem
}

.title {
  @include text-preset-4-medium;

  grid-area: 1 / 1 / 2 / 2;
}

.value {
  @include text-preset-1;

  grid-area: 2 / 1 / 2 / 2;
  align-self: center
}

.icon {
  @include text-preset-1;
  @include commonBorder(border-left);

  grid-area: 1 / 2 / 3 / 2;
  background-repeat: no-repeat;
  background-position: center;
}

@each $icon, $bg-color in $statistics-bar-icons {
  .#{$icon} {
    background-image: url("@/assets/icons/#{$icon}.svg");
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background-color: $bg-color;
      position: relative;
      z-index: -1;
    }
  }
}

@include onMobile {
  .stat_bar_section {
    gap: 1.6rem;
    flex-wrap: nowrap;
    padding: 2rem 1.6rem 1.6rem 1.6rem;
  }
}

@include onTablet() {
  .stat_bar_section {
    padding: 1.6rem 2rem 2.4rem;
  }

  .stat_item {
    flex-basis: calc(50% - 1rem);
  }
}
