.progress_bar {
  @include text-preset-6-regular;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  & > .button {
    @include commonBorder(border);
    @include button(0.6rem 1.2rem);
    @include button_icon-side(left);
    @include button_icon_variant(brain-solid);

    background-color: $teal-400;
    box-shadow: 0.1rem 0.1rem 0.05rem 0rem;
  }
}

.icon {
  @include commonBorder(border);

  width: 6rem;
  height: 0.8rem;
  border-radius: $radius-full;
  background-color: aliceblue;
  overflow: hidden;
}

@for $selector from 1 to 101 {
  .percent_#{$selector} {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: $selector * 1%;
      height: 100%;
      background-color: $neutral-900;
      position: absolute;
      left: 0;
    }
  }
}
