.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  & > li {
    flex: 0 0 397px;
  }
}

@include onTablet {
  .cards-list {
    gap: 24px;

    & > li {
      flex: 0 0 340px;
    }
  }
}

@include onMobile {
  .cards-list {
    gap: 20px;

    & > li {
      flex: 0 0 340px;
    }
  }
}
