.card_list_answer-container {
 @include commonBorder(border-bottom);
 @include text-preset-5;

 grid-area: 2 / 1 / 3 / 4;
}

.card_answer-title {
 margin-bottom: 6px;
 opacity: 0.6;
 padding: 16px 16px 0;
}

@include expandedText (
 true,
 ".card_list_answer-container",
 ".card_list_text-container",
 ".card_list_text-content",
 ".expand-icon",
 0 16px,
 3,
 "expanded",
 "multiline"
);
