* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

button {
 background: none;
 border: none;
 outline: none;
}

a {
 text-decoration: none;
 color: inherit;
}

p {
 max-width: 100%;
}

ul {
 list-style: none;
}